*{
  box-sizing: border-box;
}

body {
  background-image: url("../imgs/background.svg");
  background-color: #fff;
  background-size: 168% auto;
  background-position: 50% 0%;
}

header{
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

#logo {
  content: url("../imgs/logo.svg");
  display: flex;
  width: 30%;
  object-fit: contain;
  margin-bottom: 3vh;
}

 .flex-container {
  display:flex;
  flex-direction: row;
  /*border: solid 4px;*/
  justify-content: flex-start;
  align-items: stretch;
  /* line-height: 200px; */
  text-align: center;
  margin:0px auto;
  left:0;
  right:0;
  flex-wrap: wrap;
}

.post {
  /* border: solid 5px dodgerblue; */
  position: relative;
  display:flex;
  align-items:center;
  justify-content:center;  
  margin: 12px;
  height: auto;
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  border: solid 1px #CCC;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.flex-container .post{
  flex-basis: 150px;
}

.post-img {
  display: block;
  width: 100%;
  /* height: auto; */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
  border-radius: 15px;
}

.post:hover .overlay {
  opacity: .75;
}

.post:hover .post-img{
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.details {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 46%;
  -webkit-transform: translate(-46%, -50%);
  -ms-transform: translate(-46%, -50%);
  transform: translate(-46%, -50%);
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 498px) { .flex-container { width: 170px; } #logo{width: 40%; margin-bottom: 2vh;} }
@media screen and (min-width: 498px) and (max-width: 652px) { .flex-container { width: 350px; } #logo{width: 40%; margin-bottom: 2vh;} }
@media screen and (min-width: 652px) and (max-width: 970px) { .flex-container { width: 527px;  } #logo{width: 40%; margin-bottom: 2vh;} } 
@media screen and (min-width: 970px) and (max-width: 1273px) { .flex-container { width: 700px; } #logo{width: 40%; margin-bottom: 2vh;} }
@media screen and (min-width: 1273px) and (max-width: 1590px) { .flex-container { width: 1050px; } }
@media screen and (min-width: 1590px) and (max-width: 1920px) { .flex-container { width: 60%; } }  
@media screen and (min-width: 1920px) { .flex-container { width: 57%; } }  